#############################################################################################################################################################
#   HEATERS
#############################################################################################################################################################


###################################################################################################
#   Extruder
###################################################################################################

#   Connected to MOTOR_6
#   Heater - HE0
#   Thermistor - T0
##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 extruder]
uart_pin: PE1
interpolate: false
run_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 0

[extruder]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
rotation_distance: 5.612   #Bondtech LGX lite
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.800
filament_diameter: 1.75
pressure_advance: 0 # USE TEMPADJUSTPA macro
pressure_advance_smooth_time: 0.020
max_extrude_only_distance: 120.0
max_extrude_cross_section: 5

#TL Dragon SF
#heater_pin: PA1
#sensor_type: ATC Semitec 104NT-4-R025H42G
#sensor_pin: PF4
#min_temp: -273.15
#max_temp: 280
#max_power: 1.0
#min_extrude_temp: 0
#control = pid
#pid_kp = 26.398
#pid_ki = 1.589
#pid_kd = 112.134

#TL Rapido HF PT1000
heater_pin: PA1
sensor_type: PT1000
sensor_pin: PF4
min_temp: -273.15
max_temp: 280
max_power: 1.0
min_extrude_temp: 0
control = pid
pid_kp = 23.882
pid_ki = 2.211
pid_kd = 64.481

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2

###################################################################################################
#   Bed Heater
###################################################################################################

#[heater_bed]
###  SSR Pin - HE0
###  Thermistor - TB
#heater_pin: PA2
###  Validate the following thermistor type to make sure it is correct
###  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
#sensor_type: Generic 3950
#sensor_pin: PF3
###  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
#max_power: 0.8
#min_temp: -270
#max_temp: 120
##control: pid
##pid_kp: 58.437
##pid_ki: 2.347
##pid_kd: 363.769

[verify_heater heater_bed]
max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 90
#   This controls heater verification during initial heating.  Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.