############################################################################################################################################################################################################
############################################################################################################################################################################################################
#             PRINTER / MCU CONFIG
############################################################################################################################################################################################################
############################################################################################################################################################################################################

[printer]
kinematics: corexy
max_velocity: 400  
max_accel: 10000             #Max 4000
#max_accel_to_decel: 9000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
minimum_cruise_ratio: 0.5
square_corner_velocity: 10.0

[mcu]
#UART
#serial: /dev/ttyAMA0
#USB
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_42004C000C51313133353932-if00
restart_method: command

[idle_timeout]
timeout: 7200

#[force_move]
#enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

#[respond]
#default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
#default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".


[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode:
  CANCEL_PRINT

[display_status]

[pause_resume]

#[exclude_object]

[save_variables]
filename: ~/printer_data/config/Config/saved_variables.cfg

################################################################################################################################################
# EXP1 / EXP2 (display) pins
################################################################################################################################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>