##############################################################
#   X Stepper Settings
##############################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper

# physical endstop
endstop_pin: PG6
#sensorless
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 300
position_max: 300

homing_speed: 40   #Max 100
#physical endstop
#homing_retract_dist: 5
#sensorless
homing_retract_dist: 0
homing_positive_dir: true


##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: False
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
#sensorless
diag_pin: ^PG6 # use the same pin that was previously the endstop_pin!
driver_SGTHRS: 110

##############################################################
#   Y Stepper Settings
##############################################################

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper

endstop_pin: PG9
position_min: 0
position_endstop: 308
position_max: 308

homing_speed: 40  #Max 100
homing_retract_dist: 5
homing_positive_dir: true


##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: False
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0