#######################################################################
#             CONFIGS
#######################################################################

[probe]
pin: ^ebb36:PROBE_1

## Euclid Probe
#x_offset: 2.0                ; probe is offset 2.0mm from nozzle
#y_offset: 25.0               ; probe is +25mm from nozzle in Y direction
#z_offset: 7.0               ; trigger point is 7.0mm below nozzle. larger numbers move effective Z0 CLOSER to the nozzle

## TAP
x_offset: 0.0
y_offset: 0.0
#z_offset: -0.21

speed: 5.0                     ; probing speed of 5mm/second ideal is <10mm/sec  
samples: 3                   ; number of probes to perform per sample
samples_result: median       ; normalization method: see config reference
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries: 10
lift_speed: 10

## TAP Gcode
activate_gcode:
    {% set PROBE_TEMP = 160 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM={PROBE_TEMP} MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


######################
####   Hardware   ####
######################

[include Config/CAN_bus/btt_ebb36_G0B1_v1.2.cfg]
[include Config/CAN_bus/pitb.cfg]

[include Config/Display/klipper-mini12864.cfg]
[include Config/Display/lcd_tweaks.cfg]

[include Config/Hardware/Adxl.cfg]
#[include Config/Hardware/Extruder.cfg]
[include Config/Hardware/Fans.cfg]
[include Config/Hardware/Bed_Heater.cfg]
[include Config/Hardware/LED.cfg]
[include Config/Hardware/Printer_MCU.cfg]
#[include Config/Hardware/Steppers_XY.cfg]
[include Config/Hardware/Steppers_Z.cfg]
[include Config/Hardware/Thermistors.cfg]

[include Config/Probe/Home.cfg]
[include Config/Probe/Probe.cfg]
#[include Config/Probe/Z_Calibration.cfg]

####################
####   Macros   ####
####################

[include Macros/Calibration/calibration.cfg]
[include Macros/Calibration/input_shaper_calibration.cfg]
[include Macros/Calibration/test_speed.cfg]
[include Macros/Calibration/vibrations_calibration.cfg]

[include Macros/Hardware_Functions/air_filter_timer.cfg]
[include Macros/Hardware_Functions/Fan_Control.cfg]
[include Macros/Hardware_Functions/heater_overrides.cfg]
[include Macros/Hardware_Functions/LEDs.cfg]
[include Macros/Hardware_Functions/LCD_RGB.cfg]
[include Macros/Hardware_Functions/stealthburner_leds.cfg]

[include Macros/Helpers/Filament_Macros.cfg]

[include Macros/Helpers/Nozzle_cleaning.cfg]
[include Macros/Helpers/Parking.cfg]
[include Macros/Helpers/safety_macros.cfg]

#[include Macros/Klicky/klicky-probe.cfg]

[include Macros/Print/base_macros.cfg]
[include Macros/Print/homing.cfg]
[include Macros/Print/print_macros.cfg]
[include Macros/Print/z_tilt_adjust.cfg]

[include Macros/KAMP/Adaptive_Mesh.cfg]
[include Macros/KAMP/Adaptive_Purge.cfg]

#####################
####   Scripts   ####
#####################

[include Scripts/shell_commands.cfg]
[include Scripts/test_probe_accuracy.cfg]

#######################################################################
#             INPUT SHAPING RESULTS
#######################################################################

[input_shaper]
shaper_freq_x: 24.6
shaper_type_x: mzv
shaper_freq_y: 23.0
shaper_type_y: mzv

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.767
#*# pid_ki = 1.871
#*# pid_kd = 372.005
#*#
#*# [probe]
#*# z_offset = -0.800
