################################################################################################
###                                     BOARD PINS                                           ###
################################################################################################
[board_pins ebb36] 
mcu: ebb36
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

################################################################################################
###                                        MCU                                               ###
################################################################################################
[mcu ebb36]
canbus_uuid: 85d14a8401c9 

## ebb36
[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: ebb36

################################################################################################
###                                        FANS                                              ###
################################################################################################
[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: ebb36:FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[fan]
pin: ebb36:FAN0
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

################################################################################################
###                                        EXTRUDER                                          ###
################################################################################################
[extruder]
step_pin: ebb36:EXT_STEP
dir_pin: !ebb36:EXT_DIR
enable_pin: !ebb36:EXT_EN

#Sherpa Mini
rotation_distance: 23.3593185 #for 5mm Shaft Driven Bondtech gearsets
#rotation_distance: 26.72306036
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
max_extrude_only_distance: 120.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
max_extrude_cross_section: 5

nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0 # USE TEMPADJUSTPA macro
pressure_advance_smooth_time: 0.020

heater_pin: ebb36:HE0
sensor_pin: ebb36:TH0
sensor_type: PT1000  # this is the default for the Revo heater
#pullup_resistor: 2200             # this is the default for the Revo heater
control: pid
pid_kp: 23.882
pid_ki: 2.211
pid_kd: 64.481
min_temp: -273.15
max_temp: 300
max_power: 1.0
min_extrude_temp: 0

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2

[tmc2209 extruder]
interpolate: True
uart_pin: ebb36:EXT_UART
stealthchop_threshold: 0
run_current: 0.30

################################################################################################
###                                        Probe                                             ###
################################################################################################

[probe]
pin: ^ebb36:PROBE_1

## Euclid Probe
#x_offset: 2.0                ; probe is offset 2.0mm from nozzle
#y_offset: 25.0               ; probe is +25mm from nozzle in Y direction
#z_offset: 7.0               ; trigger point is 7.0mm below nozzle. larger numbers move effective Z0 CLOSER to the nozzle

## TAP
x_offset: 0.0
y_offset: 0.0
#z_offset: -0.21

speed: 5.0                     ; probing speed of 5mm/second ideal is <10mm/sec  
samples: 3                   ; number of probes to perform per sample
samples_result: median       ; normalization method: see config reference
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries: 10
lift_speed: 10

## TAP Gcode
activate_gcode:
    {% set PROBE_TEMP = 160 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MINIMUM={PROBE_TEMP} MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}


################################################################################################
###                                        ADXL345                                           ###
################################################################################################
#[adxl345]
#cs_pin: ebb36:ADXL_CS
#spi_software_sclk_pin: ebb36:ADXL_SCLK
#spi_software_mosi_pin: ebb36:ADXL_MOSI
#spi_software_miso_pin: ebb36:ADXL_MISO
#axes_map: x,y,z

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    175,175,20  # an example for a 350mm printer

################################################################################################
###                                        RGB                                               ###
################################################################################################
#[neopixel my_neopixel]
#pin: ebb36:RGBLED
#chain_count: 12
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0


################################################################################################
###                                        PT100                                             ###
################################################################################################
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: ebb36:PT100_CS
# spi_bus: spi1
# min_temp: -50
# max_temp: 350
# rtd_reference_r: 430


