[safe_z_home]
home_xy_position: 173,312
speed:100
z_hop:10


[z_tilt]
##  z_positions: Location of toolhead
## Uncomment below for 300mm build
z_positions:
   -50, 18
   150, 348
   350, 18
points:
   30, 5
   150, 245
   270, 5

speed: 300
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075


[bed_mesh]
speed: 300
horizontal_move_z: 15

mesh_min: 40, 40
mesh_max: 260,260

fade_start: 0.6
fade_end: 10.0
probe_count: 5,5
algorithm: bicubic
relative_reference_index: 12