####################################################################################################################################################
#             INCLUDE CFG
####################################################################################################################################################


######################
####   Hardware   ####
######################

[include Hardware/adxl.cfg]
[include Hardware/Fans.cfg]
[include Hardware/Heaters.cfg]
[include Hardware/LED_Control.cfg]
[include Hardware/MCU.cfg]
[include Hardware/Steppers.cfg]
[include Hardware/thermal.cfg]

#########################
####   LCD configs   ####
#########################

[include Display/klipper-mini12864.cfg]
[include Display/lcd_tweaks.cfg]

####################
####   Macros   ####
####################

[include Macros/Adaptive_Bed_Mesh.cfg]
[include Macros/base_macros.cfg]
[include Macros/Fan_Control.cfg]
[include Macros/macros.cfg]
[include Macros/shell_commands.cfg]
[include Macros/stealthburner_leds.cfg]
[include Macros/Calibration/test_speed.cfg]

####################
####   Probe   ####
####################

[include Probe/euclid.cfg]
[include Probe/BedMesh_ZTilt.cfg]
[include Probe/Probe.cfg]
[include Probe/z_calibration.cfg]

